<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>

    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#agendas-info').DataTable();
            $(function () {
                $(".widget input[type=submit], .widget a, .widget button").button();
                $("button, input, a").click(function (event) {
                    event.preventDefault();
                });
            });
            $("#type").change(async () => {
                const response = await fetch('http://localhost:8081/rest/doctor/get-all');
                const myJson = await response.json(); //extract JSON from the http response
                const val = $(this).val();
                for (let myJsonKey in myJson) {
                    console.log(myJson);
                    console.log(myJsonKey);
                }
            });
        });
    </script>
    <script>
        $(function () {
            $(".dialog-confirm").dialog({
                resizable: false,
                height: "auto",
                width: 400,
                modal: true,
                autoOpen: false,
                show: {
                    effect: "blind",
                    duration: 200
                },
                hide: {
                    effect: "blind",
                    duration: 200
                }
            });
            $(".borrar-registro").on("click", function () {
                $(".dialog-confirm").dialog("open");
            });
        });
    </script>
    <title>Reserva De Horas</title>
</head>
<body>
<th:block th:if="${agendas == null}">
    <h1>Reserva de horas médicas</h1>
</th:block>
<th:block th:if="${agendas != null}">
    <h1>Listado de reservas</h1>
</th:block>
<p>
    <a th:href="@{/listado}">Listado</a> | <a th:href="@{/reserva}">Reserva</a>
</p>
<th:block th:if="${errorMsg != null}">
    <h3 style="color: red" th:text="${errorMsg}"></h3>
</th:block>
<th:block th:if="${successfulMsg != null}">
    <h3 style="color: green" th:text="${successfulMsg}"></h3>
</th:block>
<th:block th:if="${agendas == null}">
    <form th:action="@{/agenda}" th:method="POST" th:object="${agenda}">
        <label for="nombre-paciente">Nombre Paciente:</label>
        <input id="nombre-paciente" th:field="*{paciente.datosPersona.nombre}" required>
        <br/>
        <label for="apellido-paciente">Apellido Paciente:</label>
        <input id="apellido-paciente" th:field="*{paciente.datosPersona.apellido}" required>
        <br/>
        <label for="rut-paciente">Rut Paciente:</label>
        <input id="rut-paciente" th:field="*{paciente.rut}" required>
        <br/>
        <label for="especialidad">Especialidad:</label>
        <select id="especialidad" th:field="*{doctor.especialidad.id}" required>
            <th:block th:each="especialidad : ${especialidades}">
                <option th:value="${especialidad.id}" th:text="${especialidad.description}"></option>
            </th:block>
        </select>
        <br/>
        <label for="doctor">Doctor(a):</label>
        <select id="doctor" th:field="*{doctor.id}" required>
            <th:block th:each="doctor : ${doctores}">
                <option th:value="${doctor.id}"
                        th:text="${doctor.datosPersona.nombre + ' ' + doctor.datosPersona.apellido}"></option>
            </th:block>
        </select>
        <hr/>
        <label for="fecha">Fecha:</label>
        <input id="fecha" type="date" th:field="*{date}" required>
        <label for="hora">Hora:</label>
        <input id="hora" type="datetime-local" th:field="*{time}" required>
        <a th:href="@{/reserva}" class="ui-button">Limpiar</a>
        <button type="submit" class="ui-button">Reservar</button>
    </form>
</th:block>
<th:block th:if="${agendas != null}">
    <table id="agendas-info" class="display">
        <thead>
        <tr>
            <th>Paciente</th>
            <th>RUT Paciente</th>
            <th>Doctor(a)</th>
            <th>Especialidad</th>
            <th>Fecha</th>
            <th>Hora</th>
            <th colspan="2">Acciones</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="a : ${agendas}">
            <tr>
                <td th:text="${a.paciente.datosPersona.nombre + ' ' +
                                a.paciente.datosPersona.apellido}"></td>
                <td th:text="${a.paciente.rut}"></td>
                <td th:text="${a.doctor.datosPersona.nombre + ' ' +
                                a.doctor.datosPersona.apellido}"></td>
                <td th:text="${a.doctor.especialidad.description}"></td>
                <td th:text="${a.date}"></td>
                <td th:text="${a.time}"></td>
                <td colspan="2">
                    <form th:action="@{/agenda}" th:method="GET">
                        <input type="hidden" name="id" th:value="${a.id}">
                        <button type="submit" class="ui-button">Editar</button>
                    </form>
                    <form th:action="@{/agenda/eliminar}" th:method="POST">
                        <input type="hidden" name="id" th:value="${a.id}">
                        <div class="dialog-confirm" title="¿Eliminar registro?">
                            <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>¿Estás
                                seguro(a) que deseas borrar el registro? Esta acción no se puede deshacer</p>
                            <button type="submit" class="ui-button">Borrar</button>
                        </div>
                        <button type="button" class="ui-button borrar-registro">Borrar</button>
                    </form>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>
</th:block>
</body>
</html>