<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.data-table').DataTable();
            $(function () {
                $(".widget input[type=submit], .widget a, .widget button").button();
                $("button, input, a").click(function (event) {
                    event.preventDefault();
                });
            });
        });
    </script>
    <style>
        main {
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: center;
        }

        .resultTable {
            width: 50%;
        }
    </style>
    <title>Index</title>
</head>
<body>
<main>
    <h1>Simulación 2</h1>
    <form th:action="@{/course}" th:method="GET">
        <label for="course-id">Curso:</label>
        <select id="course-id" name="course-id">
            <th:block th:each="c : ${courses}">
                <option th:value="${c.id}" th:text="${c.name}"></option>
            </th:block>
        </select>
        <button type="submit">Obtener curso</button>
    </form>
    <hr/>
    <form th:action="@{/courses}" th:method="GET">
        <button type="submit">Todos los cursos</button>
    </form>
    <th:block th:if="${course != null}">
        <div class="resultTable">
            <h1 th:text="${course.name}"></h1>
            <table id="course-info" class="display data-table">
                <thead>
                <tr>
                    <th>N°</th>
                    <th>ID</th>
                    <th>Nombre</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="student : ${course.students}">
                    <tr>
                        <td th:text="${studentStat.count}"></td>
                        <td th:text="${student.id}"></td>
                        <td th:text="${student.name}"></td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
    </th:block>
    <th:block th:if="${showCourses}">
        <div class="resultTable">
            <h1>Listado de cursos</h1>
            <table id="courses-info" class="display data-table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Cantidad de estudiantes</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="c : ${courses}">
                    <tr>
                        <td th:text="${c.id}"></td>
                        <td><a th:href="@{'/course/' + ${c.id}}" th:text="${c.name}"
                               style="text-decoration-line: none"></a></td>
                        <!--                        <td th:text="${c.name}"></td>-->
                        <td th:text="${c.students.stream().count()}"></td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
    </th:block>
</main>
</body>
</html>